<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>

	<!-- 통계 -->
	<appender name="Statistics" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/statistics"/>
		<param name="Prefix" value="statistics_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : %m%n"/>
		</layout>
	</appender>

	<!-- 이지오더 -->
	<appender name="Ezorder" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/ezorder"/>
		<param name="Prefix" value="ezorder_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : %m%n"/>
		</layout>
	</appender>
	
	<!-- 자동결제취소 기본 -->
	<appender name="pc_info" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/paymentcancel"/>
		<param name="Prefix" value="paymentcancel_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>
	<!-- 자동결제취소 오류 -->
	<appender name="pc_error" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/paymentcancel"/>
		<param name="Prefix" value="paymentcancel_error_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>
	<!-- 자동결제취소 FD -->
	<appender name="pc_fd" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/paymentcancel"/>
		<param name="Prefix" value="paymentcancel_fd_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>
	<!-- 자동결제취소 PG -->
	<appender name="pc_pg" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/paymentcancel"/>
		<param name="Prefix" value="paymentcancel_pg_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>
	<!-- 자동결제취소 TELECOM -->
	<appender name="pc_telecom" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/paymentcancel"/>
		<param name="Prefix" value="paymentcancel_telecom_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>
	<!-- 자동결제취소 critical -->
	<appender name="pc_critical" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/paymentcancel"/>
		<param name="Prefix" value="paymentcancel_critical_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>
	<!-- 자동결제취소 모바일상품권 -->
	<appender name="pc_mgift" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/paymentCancelMgift"/>
		<param name="Prefix" value="paymentcancel_mgift_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyyMMdd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>

	<!-- 자동결제취소 기본 -->
	<appender name="ppc_info" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/paymentpgcancel"/>
		<param name="Prefix" value="paymentpgcancel_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>
	<!-- 자동결제취소 오류 -->
	<appender name="ppc_error" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/paymentpgcancel"/>
		<param name="Prefix" value="paymentpgcancel_error_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>
	<!-- 자동결제취소 PG -->
	<appender name="ppc_pg" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/paymentpgcancel"/>
		<param name="Prefix" value="paymentpgcancel_pg_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>
	<!-- 자동결제취소 TELECOM -->
	<appender name="ppc_telecom" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/paymentpgcancel"/>
		<param name="Prefix" value="paymentpgcancel_telecom_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>
	
	<!-- 자동결제취소 critical -->
	<appender name="ppc_critical" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/paymentpgcancel"/>
		<param name="Prefix" value="paymentpgcancel_critical_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>

	<!-- 거래 대사 -->
	<appender name="trade" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/trade"/>
		<param name="Prefix" value="trade_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>

	<!-- 물품형 GIFT 통계 -->
	<appender name="eGiftStatistics" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/eGift"/>
		<param name="Prefix" value="eGift_statistics_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>

	<!-- 물품형 GIFT 시효만료 -->
	<appender name="eGiftExtinction" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/eGift"/>
		<param name="Prefix" value="eGift_extinction_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>

	<!-- SSG INFO -->
	<appender name="ssgInfo" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/ssginfo"/>
		<param name="Prefix" value="ssginfo_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>

	<!-- error log notifier -->
	<appender name="smsClient" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/smsclient"/>
		<param name="Prefix" value="smsClient_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>

	<!-- monitor -->
	<appender name="monitor" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/monitor"/>
		<param name="Prefix" value="mon_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>

	<!-- log -->
	<appender name="logFileRemover" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/logFileRemover"/>
		<param name="Prefix" value="logFileRemover_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : %m%n"/>
		</layout>
	</appender>

	<!-- 통신사제휴 -->
	<appender name="telecom" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/telecom"/>
		<param name="Prefix" value="paymentcancel_tel_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>


	<appender name="batchData" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/batchMon"/>
		<param name="Prefix" value="batchData_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>

	<appender name="batchDataError" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/batchMon"/>
		<param name="Prefix" value="batchDataError_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>
	

	<!-- NICE -->
	<appender name="pg_nice" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/paymentpgcancel/pg"/>
		<param name="Prefix" value="pg_nice_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>

	<!-- SQL -->
	<appender name="sql" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/sql"/>
		<param name="Prefix" value="paymentcancel_sql_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>

	<!-- FD -->
	<appender name="fd" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/fd"/>
		<param name="Prefix" value="fd_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>

	<!-- FD_TEXT -->
	<appender name="fd_text" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/fd"/>
		<param name="Prefix" value="fd_text_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>

	<!-- 연령별 성별 순위음료 동기화 -->
	<appender name="BeverageRankSynchronized" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs"/>
		<param name="Prefix" value="beverageRankSynchronized_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>

	<!-- 행사 자동결제취소 기본 -->
	<appender name="pec_info" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/paymentEventCancel"/>
		<param name="Prefix" value="paymentEventCancel_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>

	<!-- 행사 자동결제취소 오류 -->
	<appender name="pec_error" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/paymentEventCancel"/>
		<param name="Prefix" value="paymentEventCancel_error_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>

	<!-- 행사 자동결제취소 FD -->
	<appender name="pec_fd" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/paymentEventCancel"/>
		<param name="Prefix" value="paymentEventCancel_fd_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>

	<!-- 행사 자동결제취소 PG -->
	<appender name="pec_pg" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/paymentEventCancel"/>
		<param name="Prefix" value="paymentEventCancel_pg_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>

	<!-- 행사 자동결제취소 TELECOM -->
	<appender name="pec_tel" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/paymentEventCancel"/>
		<param name="Prefix" value="paymentEventCancel_telecom_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>
	

	<!-- 행사 자동결제취소 critical -->
	<appender name="pec_critical" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/paymentEventCancel"/>
		<param name="Prefix" value="paymentEventCancel_critical_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>

	<!-- 사이렌오더 자동 PUSH -->
	<appender name="OrderAutoPushSender" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/autoPushSender"/>
		<param name="Prefix" value="autoPushSender_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : %m%n"/>
		</layout>
	</appender>
	
	<!-- 삼성앱카드연동 사이렌오더 자동 PUSH -->
	<appender name="SamsungAutoPushSender" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/samsungAutoPushSender"/>
		<param name="Prefix" value="samsungAutoPushSender_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : %m%n"/>
		</layout>
	</appender>

	<!-- 홀케익 INFO -->
	<appender name="wholecake_order_confirm" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/wholecakeOrderConfirm"/>
		<param name="Prefix" value="wholecakeOrderConfirm_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : %m%n"/>
		</layout>
	</appender>

	<!-- 홀케익 ERROR -->
	<appender name="wholecake_order_confirm_error" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/wholecakeOrderConfirm"/>
		<param name="Prefix" value="wholecakeOrderConfirm_error_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : %m%n"/>
		</layout>
	</appender>

	<!-- 홀케익  쿠폰  -->
	<appender name="wholecake_order_coupon" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/wholecakeOrderCoupon"/>
		<param name="Prefix" value="wholecakeOrderCoupon_info_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : %m%n"/>
		</layout>
	</appender>
	<appender name="wholecake_order_coupon_error" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/wholecakeOrderCoupon"/>
		<param name="Prefix" value="wholecakeOrderCoupon_error_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<param name="threshold" value="ERROR" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : %m%n"/>
		</layout>
	</appender>

	<!-- 홀케익  예약 확정 알림 -->
	<appender name="wholecake_order_confirm_noti" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/wholecakeOrderConfirmNoti"/>
		<param name="Prefix" value="wholecakeOrderConfirmNoti_info_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : %m%n"/>
		</layout>
	</appender>

	<!-- 물품형 GIFT 만기 알림 -->
	<appender name="gift_notice" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/eGiftItemNotice"/>
		<param name="Prefix" value="expirationNotice_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>

	<!-- 예약 발송 후 알림 -->
	<appender name="reserve_notice" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/eGiftItemNotice"/>
		<param name="Prefix" value="reserveNotice_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>

    <!--	e-Gift Item 취소기한 만료 별 지급	-->
	<appender name="eGift_item_reward_star" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/eGiftItemRewardStar"/>
		<param name="Prefix" value="daily_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>
	
	<!-- e-Gift Item LMS 수신 실패 알림 -->
	<appender name="eGift_item_lms_fail_push" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/eGiftItemLmsFailPush"/>
		<param name="Prefix" value="eGiftItemLmsFailPush_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>
	
	<!-- 선물전용관 상품별 매출정보 집계 Appender -->
	<appender name="GiftshopProductSummary" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/giftshopProductSummary"/>
		<param name="Prefix" value="giftshopProductSummary_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>
	
    <!--	e-Gift Item 취소기한 만료 별 지급 (운영)	-->
	<appender name="eGift_item_reward_star_event" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/eGiftItemRewardStarEvent"/>
		<param name="Prefix" value="daily_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>		

    <!-- PG 승인 대사 취소 배치	-->
	<appender name="pgTradeCancel" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/pgTradeCancel"/>
		<param name="Prefix" value="pgTradeCancel_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>	
	
	 <!-- PG 스마트로 연동	-->
	<appender name="pg_smartro" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/pg"/>
		<param name="Prefix" value="pg_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>	
	
	 <!-- 선계산 주문 데이터 삭제	-->
	<appender name="preOrderDelete" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/preOrderDelete"/>
		<param name="Prefix" value="preOrderDelete_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>	
	
	 <!-- 주문 메시지 데이터 삭제	-->
	<appender name="orderMsgDelete" class="co.kr.istarbucks.xo.batch.common.util.CommonLogAppender">
		<param name="Directory" value="/sck/batch/xo/logs/orderMsgDelete"/>
		<param name="Prefix" value="orderMsgDelete_"/>
		<param name="Suffix" value=".log"/>
		<param name="LogTerm" value="D"/>
		<param name="LogPeriod" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
		</layout>
	</appender>	
	
	<!-- FD -->
	<logger name="FD" additivity="true">
		<level value="INFO"/>
		<appender-ref ref="fd"/>
	</logger>

	<!-- FD_TEXT -->
	<logger name="FD_TEXT" additivity="true">
		<level value="INFO"/>
		<appender-ref ref="fd_text"/>
	</logger>

	<!-- 통계 -->
	<logger name="STATISTICS" additivity="true">
		<level value="INFO"/>
		<appender-ref ref="Statistics"/>
	</logger>
	
	<!-- 이지오더 -->
	<logger name="EZORDER" additivity="true">
		<level value="INFO"/>
		<appender-ref ref="Ezorder"/>
	</logger>

	<!-- 자동결제취소 기본 -->
	<logger name="PC_INFO" additivity="true">
		<level value="ALL"/>
		<appender-ref ref="pc_info"/>
	</logger>
	<!-- 자동결제취소 오류 -->
	<logger name="PC_ERROR" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="pc_info"/>
	</logger>
	<!-- 자동결제취소 FD -->
	<logger name="PC_FD" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="pc_fd"/>
	</logger>
	<!-- 자동결제취소 PG -->
	<logger name="PC_PG" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="pc_pg"/>
	</logger>
	<!-- 자동결제취소 TELECOM -->
	<logger name="PC_TEL" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="pc_telecom"/>
	</logger>
	<!-- 자동결제취소 모바일상품권 -->
	<logger name="PC_MGIFT" additivity="true">
		<level value="INFO"/>
		<appender-ref ref="pc_mgift"/>
	</logger>
	<!-- 자동결제취소 CRITICAL -->
	<logger name="PC_CRITICAL" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="pc_critical"/>
	</logger>

	<!-- 자동결제취소 기본 -->
	<logger name="PPC_INFO" additivity="true">
		<level value="ALL"/>
		<appender-ref ref="ppc_info"/>
	</logger>
	<!-- 자동결제취소 오류 -->
	<logger name="PPC_ERROR" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ppc_info"/>
	</logger>
	<!-- 자동결제취소 PG -->
	<logger name="PPC_PG" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ppc_pg"/>
	</logger>
	<!-- 자동결제취소 TELECOM -->
	<logger name="PPC_TEL" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ppc_telecom"/>
	</logger>
	<!-- 자동결제취소 CRITICAL -->
	<logger name="PPC_CRITICAL" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ppc_critical"/>
	</logger>

	<!-- 거래 대사 -->
	<logger name="TRADE" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="trade"/>
	</logger>

	<!-- SSG INFO -->
	<logger name="SSGINFO" additivity="true">
		<level value="INFO"/>
		<appender-ref ref="ssgInfo"/>
	</logger>

	<!-- SMS CLIENT -->
	<logger name="SMSCLIENT" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="smsClient"/>
	</logger>

	<!-- MONITOR -->
	<logger name="MONITOR" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="monitor"/>
	</logger>

	<!-- LOG -->
	<logger name="logFileRemover" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="logFileRemover"/>
	</logger>

	<!-- TELECOM -->
	<logger name="TELECOM" additivity="true">
		<level value="INFO"/>
		<appender-ref ref="telecom"/>
	</logger>

	<!-- NICE -->
	<logger name="PG_NICE" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="pg_nice"/>
	</logger>

	<logger name="batchData" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="batchData"/>
	</logger>
	
		<logger name="batchDataError" additivity="false">
		<level value="ERROR"/>
		<appender-ref ref="batchDataError"/>
	</logger>
	
	<!-- SQL -->
	<logger name="java.sql" additivity="false">
		<level value="debug"/>
		<appender-ref ref="sql"/>
	</logger>

	<!-- 연령별 성별 순위음료 동기화 -->
	<logger name="beverageRankSynchronized" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="BeverageRankSynchronized"/>
	</logger>

	<!-- 행사 자동결제취소 기본 -->
	<logger name="PEC_INFO" additivity="true">
		<level value="ALL"/>
		<appender-ref ref="pec_info"/>
	</logger>

	<!-- 행사 자동결제취소 오류 -->
	<logger name="PEC_ERROR" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="pec_error"/>
	</logger>

	<!-- 자동결제취소 FD -->
	<logger name="PEC_FD" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="pec_fd"/>
	</logger>

	<!-- 행사 자동결제취소 PG -->
	<logger name="PEC_PG" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="pec_pg"/>
	</logger>

	<!-- 행사 자동결제취소 TELECOM -->
	<logger name="PEC_TEL" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="pec_tel"/>
	</logger>


	<!-- 행사 자동결제취소 CRITICAL -->
	<logger name="PEC_CRITICAL" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="pec_critical"/>
	</logger>

	<!-- 사이렌오더 자동 PUSH -->
	<logger name="orderAutoPushSender" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="OrderAutoPushSender"/>
	</logger>
	
	<!-- 삼성앱카드연동 사이렌오더 자동 PUSH -->
	<logger name="samsungAutoPushSender" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="SamsungAutoPushSender"/>
	</logger>
	
	<!-- 홀케익 INFO -->
	<logger name="WHOLECAKE_ORDER_CONFIRM" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="wholecake_order_confirm"/>
	</logger>

	<!-- 홀케익 ERROR -->
	<logger name="WHOLECAKE_ORDER_CONFIRM_ERROR" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="wholecake_order_confirm_error"/>
	</logger>

	<!-- 홀케익 쿠폰 INFO -->
	<logger name="WHOLECAKE.COUPON.INFO" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="wholecake_order_coupon"/>
	</logger>
	<!-- 홀케익 쿠폰 ERROR -->
	<logger name="WHOLECAKE.COUPON" additivity="false">
		<level value="ERROR"/>
		<appender-ref ref="wholecake_order_coupon_error"/>
	</logger>

	<!-- 물품형 GIFT 통계		-->
	<logger name="EGIFT.STATISTICS" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="eGiftStatistics"/>
	</logger>
	<!-- 물품형 GIFT 시효만료		-->
	<logger name="EGIFT.EXTINCTION" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="eGiftStatistics"/>
	</logger>

	<!-- 홀케익 예약 확인 알림 -->
	<logger name="WHOLECAKE_ORDER_CONFIRM_NOTI" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="wholecake_order_confirm_noti"/>
	</logger>

	<!-- 물품형 GIFT 만기 알림 -->
	<logger name="GIFT_NOTICE" additivity="true">
		<level value="ALL"/>
		<appender-ref ref="gift_notice"/>
	</logger>

	<!-- 예약 발송 후 알림 -->
	<logger name="RESERVE_NOTICE" additivity="true">
		<level value="ALL"/>
		<appender-ref ref="reserve_notice"/>
	</logger>

	<logger name="EGIFT_ITEM_REWARD_STAR">
		<level value="ALL"/>
		<appender-ref ref="eGift_item_reward_star"/>
	</logger>
	
	<!-- e-Gift Item LMS 수신 실패 알림 -->
	<logger name="GIFT_LMS_PUSH" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="eGift_item_lms_fail_push"/>
	</logger>
	
	<!-- 선물전용관 상품별 매출정보 집계 Logger -->
	<logger name="giftshopProductSummary" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="GiftshopProductSummary"/>
	</logger>
	
	<!-- PG 승인 대사 취소 배치 -->
	<logger name="PgTradeCancel">
		<level value="ALL"/>
		<appender-ref ref="pgTradeCancel"/>
	</logger>		

	<logger name="EGIFT_ITEM_REWARD_STAR_EVENT">
		<level value="ALL"/>
		<appender-ref ref="eGift_item_reward_star_event"/>
	</logger>	
	
	<!-- 스마트로 -->
	<logger name="PG_SMARTRO" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="pg_smartro"/>
	</logger>
	
	<!-- 선계산 주문 데이터 삭제 -->
	<logger name="PreOrderDelete" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="preOrderDelete"/>
	</logger>
	
	<!-- 주문 메시지 데이터 삭제 -->
	<logger name="OrderMsgDelete" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="orderMsgDelete"/>
	</logger>
	
	<root>
		<priority value="INFO" />
		<appender-ref ref="CONSOLE"/>
	</root>
	
</log4j:configuration>